- if @staff.external?
  %p.warning
    %em Warning: 
    #{@staff.name} is an external user and should not be using the application for time and expense entry.
.current_form
  = form_for [@staff, @management_task] do |f|
    -if @management_task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@management_task.errors.count, "error")} prohibited this management_task from being saved:"
        %ul
          - @management_task.errors.full_messages.each do |msg|
            %li= msg
    %table
      %tr
        %td
          = f.label :formatted_task_date, "Task date"
          %em *
          = f.text_field :formatted_task_date, {:size =>10, :maxlength =>10, :class => "datepicker"}
        %td
          = f.label :comment
          = f.text_field :comment
      %tr.task
        %td
          = f.label :task_type_code, "Task Type"
          %em *
          = f.select :task_type_code, NcsCode.ncs_code_lookup(:management_task_type_code), {:prompt => 'Select Tasks'}, {:id => "task_type"}
        %td
          = f.label :task_type_other
          = f.text_field :task_type_other, {:size =>20 ,:id => "task_type_other"}
      %tr.task
        %td
          %em Labor expenses:
        %td
          %em Other expenses (non-labor):
        %td
      %tr.task
        %td
          Your Rate:
          - if (@staff.hourly_rate.blank?)
            Not Entered. #{link_to "Update", edit_staff_path(@staff.id)}
          - elsif (@staff.hourly_rate == 0)
            Voluntary Work. #{link_to "Update", edit_staff_path(@staff.id)}
          - else
            $#{@staff.hourly_rate}/hr.
        %td
          = f.label :expenses, "Expense $"
          = f.text_field :expenses, {:size =>6}
        %td
          = f.submit 'Save', :class => "control_button"
          = link_to 'Cancel', new_staff_management_task_path(params[:staff_id])
      %tr.task
        %td
          = f.label :hours, "Hours spent"
          = f.text_field :hours, {:size =>4}
        %td
          = f.label :miles, "Miles driven"
          = f.text_field :miles, {:size =>4}
        %td
    
    :javascript
      $(".datepicker").datepicker();
      // For the 'other' task type field
      // Check on pageload
      $(document).ready(function(){
        wire_up_select_other("#task_type","#task_type_other");
      });

   
