- form_for @user, :html => { :id => 'user' } do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = hidden_field_tag "return_path", "users_staff_index_path"
  = f.hidden_field :validate_update, :value => false
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :username, NcsNavigator.configuration.study_center_username
    = f.text_field :username
  .field
    = f.label :formatted_ncs_inactive_date, "Inactive Date"
    = f.text_field :formatted_ncs_inactive_date, {:class => "datepicker", :size =>10, :maxlength =>10, :id => "pickdate"} 
    = label_tag "(Leave blank to have it never expire, or set it in the past to have it expire immediately.)"
    = f.hidden_field :study_center, :value => StaffPortal.study_center_id
  .field
    - Role.all.each do |r|
      .field
        = check_box_tag "staff[role_ids][]",r.id, @user.roles.map(&:id).include?(r.id)
        = r.name
  .actions
    = f.submit 'Save', :class => "control_button"
    
  :javascript
    $(".datepicker").datepicker();