- form_for @user, :html => { :id => 'user' } do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  - @supervisorEmployeesTemplate = generate_nested_attributes_template(f, :supervisor_employees, 'staff/supervisor_employees')
  = hidden_field_tag "return_path", "users_staff_index_path"
  = f.hidden_field :validate_update, :value => false
  .block
    .title
      General Information
    .row
      = f.label :first_name
      %em *
      = f.text_field :first_name
    .row
      = f.label :last_name
      %em *
      = f.text_field :last_name
    .row
      = f.label :email
      %em *
      = f.text_field :email
    .row
      = f.label :username, NcsNavigator.configuration.study_center_username
      %em *
      = f.text_field :username
    .row
      = f.label :staff_id, "Staff ID"
      = f.text_field :staff_id, {:class => "staff_id", :id => "staff_id", :readonly => true}
      %a#edit_staff_id
        Edit
      %a#save_staff_id
        Save
      %span.warning#warning_staff_id
        (Warning: Assigned Staff Id should not be modified for existing staff.)
    .row
      = f.label :formatted_ncs_inactive_date, "Inactive Date"
      = f.text_field :formatted_ncs_inactive_date, {:class => "datepicker", :size =>10, :maxlength =>10, :id => "pickdate"} 
      = label_tag "(Leave blank to have it never expire, or set it in the past to have it expire immediately.)"
    .row
      = f.label :external, "External User"
      = f.check_box :external
      = label_tag "(Check if user is not using Staff Portal for the time and expense entry)" 
    = f.hidden_field :study_center, :value => StaffPortal.study_center_id
    
  .block
    .title
      Role(s)
    .row
      - Role.all.each do |r|
        .field
          = check_box_tag "staff[role_ids][]",r.id, @user.roles.map(&:id).include?(r.id)
          = r.name
        
  - if @user.has_role(Role::STAFF_SUPERVISOR)
    .block
      .title
        Supervisees
      %table{ :class => 'records supervisor_employees row' }
        %tr.row
          %td
            - if @user.employees.empty?
              This user is currently set to supervise all staff members. To limit this role to set of staff members, add the staff members below.
            - else
              This user supervises the list of staff members below. To enable this user to manage all staff members, remove each individual from the list.
            .row
              (Click the 'Add staff member' link to add more staff members to supervise)
        %tbody.nested_records_supervisor_employees
          - f.fields_for :supervisor_employees do |supervisor_employee|
            = render :partial => 'staff/supervisor_employees', :locals => { :f => supervisor_employee }
        %tfoot
          %tr.row
            %td{ :colspan => '3' }
              = link_to_add_fields "Add staff member", :supervisor_employees
  .block
    .row
      = "This user will be supervised by"
      = display_supervisors(Staff.default_supervisors).html_safe
      - if !@user.supervisors.empty?
        = "and assigned supervisor(s) "
        = display_supervisors(@user.supervisors).html_safe
      = ".To change this, use the account page of the particular supervisor."
  .actions
    = f.submit 'Save', :class => "control_button"
  %p
    Note: Fields mark as (
    %em *
    ) are mandatory fields 
  :javascript
    $(".datepicker").datepicker();
    $(document).ready(function() {
      edit_staff_id();
      supervisorEmployeesTemplateUI = new NCSPortal.SupervisorEmployees.UI({supervisorEmployeesTemplate: '#{@supervisorEmployeesTemplate}' });
    })
    
    function edit_staff_id() {
      var staff_id = $("#staff_id");
      $("#save_staff_id").hide();
      $("#warning_staff_id").hide();
      staff_id.css('background-color', '#d0d0d0');
      $("#edit_staff_id").click(function(){
        staff_id.removeAttr('readonly');
        staff_id.css('background-color', '#ffffff')
        $("#edit_staff_id").hide();
        $("#save_staff_id").show();
        $("#warning_staff_id").show();
      })
      $("#save_staff_id").click(function(){
        $("#save_staff_id").hide();
        $("#edit_staff_id").show();
        $("#warning_staff_id").hide();
        staff_id.attr('readonly', 'readonly')
        staff_id.css('background-color', '#d0d0d0');
      })
    }