.breadcrumbs
  = render_breadcrumbs :separator => ' / '
.block
  = link_to 'Add new user', new_users_path, :class => "add_link icon_link"
  = form_tag users_path, :method => :get do 
    .title
      Search Users
    .row
      = label_tag "first_name", "First Name"
      = text_field_tag "first_name", params[:first_name]
    .row
      = label_tag "last_name", "Last Name"
      = text_field_tag "last_name", params[:last_name]
    .row
      = label_tag "username", "#{NcsNavigator.configuration.study_center_username}"
      = text_field_tag "username", params[:username]
    .row
      = submit_tag "Search", :class => "control_button"
      = link_to 'Reset', users_path, :class => "control_button"
.block
  .title
    - model_name = (@users.size == 1 ? "User" : "Users")
    = raw page_entries_info @users, {:model => model_name}
  %div.yui-skin-sam.row
    %div#user-list
      %table#user-list-tbl
        - @users.each do |user|
          %tr
            %td= link_to user.display_username, edit_users_path(user)
            %td= user.name
            %td= display_roles(user.roles)
            %td= user.is_active ? "Active" : "Disabled"

  :javascript
      $(document).ready(function() {
        displayEventList()
      });
  
      function displayEventList() {
        var columnDefs = [
            { key: "username", label: "#{NcsNavigator.configuration.study_center_username}", sortable: true , sortOptions: { defaultDir: YAHOO.widget.DataTable.CLASS_DESC }},
            { key: "name", label: "Name", sortable: true },
            { key: "role", label: "Role(s)" },
            { key: "status", label: "Status" }
        ];
        var dataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("user-list-tbl"));
        dataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        dataSource.responseSchema = {
          fields: [
            { key: "username" },
            { key: "name" },
            { key: "role" },
            { key: "status" }
          ]
        };
        new YAHOO.widget.DataTable("user-list", columnDefs, dataSource, {
            sortedBy: { key: "username" , dir: YAHOO.widget.DataTable.CLASS_DESC }
        });
      
      }
  = will_paginate @users, :previous_label => "Previous", :next_label => "Next"
