.section
  .section_heading
    - model_name = (@data_collection_tasks.size == 1 ? "Data collection task" : "Data collection tasks")
    = raw page_entries_info @data_collection_tasks, {:model => model_name}
  %div.yui-skin-sam
    %div#tasks-list
      %table#data-collection-tasks-list
        - @data_collection_tasks.each do |data_collection_task|
          %tr
            %td= link_to data_collection_task.task_date, edit_staff_data_collection_task_path(@staff, data_collection_task)
            %td= data_collection_task.task_type_text
            %td= display_task(data_collection_task.hours)
            %td= display_task(data_collection_task.miles)
            %td= display_task(data_collection_task.expenses)
            %td= data_collection_task.comment
            %td= button_to "Delete", { :action => "destroy", :id => data_collection_task.id, :staff_id => params[:staff_id] }, :class => "control_button", :onclick => "return confirm('Are you sure want to delete? This will delete the data collection task record.')", :method => :delete
  :javascript
      $(document).ready(function() {
        displayTasksList()
      });

      function displayTasksList() {
        var columnDefs = [
            { key: "date", label: "Task Date", sortable: true , formatter: "date", sortOptions: { defaultDir: YAHOO.widget.DataTable.CLASS_DESC }},
            { key: "type", label: "Type" },
            { key: "hours", label: "Hours" },
            { key: "miles", label: "Miles" },
            { key: "expenses", label: "Expenses" },
            { key: "comment", label: "Comment" },
            { key: "controls", label: ""}
        ];
        var dataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("data-collection-tasks-list"));
        dataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        dataSource.responseSchema = {
          fields: [
            { key: "date" },
            { key: "type" },
            { key: "hours" },
            { key: "miles" },
            { key: "expenses" },
            { key: "comment" },
            { key: "controls" }
          ]
        };
        new YAHOO.widget.DataTable("tasks-list", columnDefs, dataSource, {
          sortedBy: { key: "date", dir: YAHOO.widget.DataTable.CLASS_DESC}
        });
      }
  = will_paginate @data_collection_tasks, :previous_label => "Previous", :next_label => "Next"
