
= form_for @outreach_event do |f|
  -if @outreach_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@outreach_event.errors.count, "error")} prohibited this outreach_event from being saved:"
      %ul
        - @outreach_event.errors.full_messages.each do |msg|
          %li= msg
  - @outreachStaffMembersTemplate = generate_nested_attributes_template(f, :outreach_staff_members, 'outreach_events/outreach_staff_members')
  - @outreachRacesTemplate = generate_nested_attributes_template(f, :outreach_races, 'outreach_events/outreach_races')
  - @outreachTargetsTemplate = generate_nested_attributes_template(f, :outreach_targets, 'outreach_events/outreach_targets')
  - @outreachEvaluationsTemplate = generate_nested_attributes_template(f, :outreach_evaluations, 'outreach_events/outreach_evaluations')
  - @outreachItemsTemplate = generate_nested_attributes_template(f, :outreach_items, 'outreach_events/outreach_items')
  - @outreachLanguagesTemplate = generate_nested_attributes_template(f, :outreach_languages, 'outreach_events/outreach_languages')
  
  .block
    .title
      Outreach Description
    .row
      = f.label :formatted_event_date, "Event Date"
      %em *
      = f.text_field :formatted_event_date, {:class => "datepicker", :size =>10, :maxlength =>10, :id => "pickdate"}
      = f.label :name, "Event Name"
      %em *
      = f.text_field :name, {:size => 50}
    .row
      PSU
      = text_field_tag "", StaffPortal.psu_name, :readonly => true
    .row
      Outreach Segments
      = select_tag("outreach_event[ncs_area_ids][]", options_for_select(NcsArea.all.sort_by(&:name).map {|a| [a.name, a.id]}, @outreach_event.outreach_segments.collect { |os| os.ncs_area_id }),
                        {:multiple=>true, :id => "outreach_segments", :class => "outreach_segments"})
  .block
    .title
      Outreach Details
    .row
      = f.label :mode_code, "Outreach mode"
      %em * 
      = f.select :mode_code, NcsCode.ncs_code_lookup(:mode_code), {:prompt => "Select"}, {:id => "outreach_mode"}
      = f.label :mode_other, "Other mode"
      = f.text_field :mode_other, {:id => "outreach_mode_other"}
    .row
      = f.label :outreach_type_code, "Outreach type"
      %em *
      = f.select :outreach_type_code, NcsCode.ncs_code_lookup(:outreach_type_code), {:prompt => "Select"}, {:id => "outreach_type"}
      = f.label :outreach_type_other, "Outreach type - other specify"
      = f.text_field :outreach_type_other, {:id => "outreach_type_other"}
    %table{ :class => 'records outreach_targets row' }
      %tr.row
        %td
          Primary outreach target 
          %em * 
          (Click the 'Add target' link to add one or more targets)
        %td
      %tbody.nested_records_outreach_targets
        - f.fields_for :outreach_targets do |outreach_target|
          = render :partial => 'outreach_events/outreach_targets', :locals => { :f => outreach_target }
      %tfoot
        %tr.row
          %td.row{ :colspan => '3' }
            = link_to_add_fields "Add target", :outreach_targets

  .block
    .title
      Outreach Quantity
    .row
      = f.label :letters_quantity, "Number of printed material distributed"
      = f.text_field :letters_quantity, {:size => 5}
    .row
      = f.label :attendees_quantity, "Number of attendees"
      = f.text_field :attendees_quantity, {:size => 5}
    - if InventoryItem.all.count > 0
      %table{ :class => 'records outreach_items' }
        %tr.row
          %td
            Giveaway items for outreach event (Click the 'Add giveaway item' link to add one or more giveaway items, if Applicable)
          %td
        %tbody.nested_records_outreach_items
          - f.fields_for :outreach_items do |outreach_item|
            = render :partial => 'outreach_events/outreach_items', :locals => { :f => outreach_item }
        %tfoot
          %tr
            %td{ :colspan => '3' }
              = link_to_add_fields "Add giveaway item", :outreach_items
    .row
      = f.label :cost, "Non-labor cost to conduct outreach:"
      = f.text_field :cost, {:size => 5}

  .block
    .title
      Outreach Targets
    .row
      = f.label :tailored_code, "Was outreach effort tailored to a specific group?"
      %em *
      = f.select :tailored_code, NcsCode.ncs_code_lookup(:tailored_code), {:prompt => "Select"}, {:id => "tailored_group"}
    .row
      = f.label :language_specific_code, "Was the outreach language specific?"
      = f.select :language_specific_code, NcsCode.ncs_code_lookup(:language_specific_code), {:prompt => "Select"}, {:class => "tailored_group", :id => "language_group"} 
    %table{ :class => 'records outreach_languages row' }
      %tr.row.tailored_group_other.language_group
        %td
          Targeted language group (Click the 'Add language' link to add one or more languages, if Applicable)
        %td
      %tbody.nested_records_outreach_languages
        - f.fields_for :outreach_languages do |outreach_language|
          = render :partial => 'outreach_events/outreach_languages', :locals => { :f => outreach_language }
      %tfoot
        %tr.row.tailored_group_other.language_group
          %td{ :colspan => '3' }
            = link_to_add_fields "Add language", :outreach_languages
    .row
      = f.label :culture_specific_code, "Was the outreach targeted to a specific cultural group?"
      = f.select :culture_specific_code, NcsCode.ncs_code_lookup(:culture_specific_code), {:prompt => "Select"}, {:class => "tailored_group", :id => "culture_group"} 
    .row
      = f.label :culture_code, "Targerted cultural group"
      = f.select :culture_code, NcsCode.ncs_code_lookup(:culture_code), {:prompt => "Select"}, {:class => "culture_group tailored_group_other", :id => "outreach_culture"}  
      = f.label :culture_other, "Cultural group - other specify"
      = f.text_field :culture_other, {:class => "tailored_group_other culture_group_other", :id => "outreach_culture_other"}
    .row
      = f.label :race_specific_code, "Was the outreach targeted to a specific racial group?"
      = f.select :race_specific_code, NcsCode.ncs_code_lookup(:race_specific_code), {:prompt => "Select"}, {:class => "tailored_group", :id => "race_group"}
    %table{ :class => 'records outreach_races row' }
      %tr.row.tailored_group_other.race_group
        %td
          Targeted racial groups (Click the 'Add race' link to add one or more races, if Applicable)
        %td
      %tbody.nested_records_outreach_races
        - f.fields_for :outreach_races do |outreach_race|
          = render :partial => 'outreach_events/outreach_races', :locals => { :f => outreach_race }
      %tfoot
        %tr.row.tailored_group_other.race_group
          %td{ :colspan => '3' }
            = link_to_add_fields "Add race", :outreach_races

  .block
    .title
      Outreach Evaluation
    .row
      = f.label :evaluation_result_code, "Results of the outreach event"
      %em *
      = f.select :evaluation_result_code, NcsCode.ncs_code_lookup(:evaluation_result_code), :prompt => "Select"
    %table{ :class => 'records outreach_evaluations row' }
      %tr.row
        %td
          Outreach Evaluations
          %em * 
          (Click the 'Add evaluation' link to add one or more evaluations)
        %td
      %tbody.nested_records_outreach_evaluations
        - f.fields_for :outreach_evaluations do |outreach_evaluation|
          = render :partial => 'outreach_events/outreach_evaluations', :locals => { :f => outreach_evaluation }
      %tfoot
        %tr.row
          %td{ :colspan => '3' }
            = link_to_add_fields "Add evaluation", :outreach_evaluations

  .block
    .title
      Outreach Staff Information
    .row
      = f.label :no_of_staff, "Number of staff required for event"
      = f.text_field :no_of_staff, {:size => 5}
    %table{ :class => 'records outreach_staff_members row' }
      %tr.row
        %td
          Staff Members participating in Outreach Event 
          %em * 
          (Click the 'Add staff member' link to add one or more staff members)
      %tbody.nested_records_outreach_staff_members
        - f.fields_for :outreach_staff_members do |outreach_staff_member|
          = render :partial => 'outreach_events/outreach_staff_members', :locals => { :f => outreach_staff_member }
      %tfoot
        %tr.row
          %td{ :colspan => '3' }
            = link_to_add_fields "Add staff member", :outreach_staff_members
  .row
    = f.submit 'Save', :class => "control_button"
    = link_to 'Exit without save', outreach_events_path
  %br
  %p
    Note: Fields mark as (
    %em *
    ) are mandatory fields
  :javascript
    $(document).ready(function(){
      $("#outreach_segments").multiselect({noneSelectedText: 'Select one or more segments', selectedList: 20, minWidth: 500 });
      wire_up_select_other_class(".nested_attribute_selector", ".nested_attribute_other", ".nested_attribute_other_label");
      disabled_selected_options(".outreach_races_selector", true)
      disabled_selected_options(".outreach_targets_selector", true)
      disabled_selected_options(".outreach_evaluations_selector", true)
      disabled_selected_options(".outreach_segments_selector", true)
      disabled_selected_options(".outreach_items_selector", true)
      disabled_selected_options(".outreach_languages_selector", false)
      
      wire_up_select_other("#outreach_mode","#outreach_mode_other");
      wire_up_select_other("#outreach_type","#outreach_type_other");
      wire_up_select_other("#outreach_culture","#outreach_culture_other");
      
      wire_up_select_yes_selector("#tailored_group", ".tailored_group", ".tailored_group_other")
      wire_up_select_yes_selector("#culture_group", ".culture_group", ".culture_group_other")
      wire_up_select_yes_nested_attribute("#race_group", ".race_group")
      wire_up_select_yes_nested_attribute("#language_group", ".language_group")
      
      outreachStaffMembersTemplateUI = new NCSPortal.OutreachStaffMembers.UI({outreachStaffMembersTemplate: '#{@outreachStaffMembersTemplate}' });
      outreachRacesTemplateUI = new NCSPortal.OutreachRaces.UI({outreachRacesTemplate: '#{@outreachRacesTemplate}' });
      outreachTargetsTemplateUI = new NCSPortal.OutreachTargets.UI({outreachTargetsTemplate: '#{@outreachTargetsTemplate}' });
      outreachEvaluationsTemplateUI = new NCSPortal.OutreachEvaluations.UI({outreachEvaluationsTemplate: '#{@outreachEvaluationsTemplate}' });
      outreachItemsTemplateUI = new NCSPortal.OutreachItems.UI({outreachItemsTemplate: '#{@outreachItemsTemplate}' });
      outreachLanguagesTemplateUI = new NCSPortal.OutreachLanguages.UI({outreachLanguagesTemplate: '#{@outreachLanguagesTemplate}' });
     })

    $(".datepicker").datepicker();
    