
%p
  Note: Fields mark as (
  %em *
  ) are mandatory fields

= form_for @outreach_event do |f|
  -if @outreach_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@outreach_event.errors.count, "error")} prohibited this outreach_event from being saved:"
      %ul
        - @outreach_event.errors.full_messages.each do |msg|
          %li= msg
  - @outreachStaffMembersTemplate = generate_nested_attributes_template(f, :outreach_staff_members, 'outreach_events/outreach_staff_members')
  - @outreachRacesTemplate = generate_nested_attributes_template(f, :outreach_races, 'outreach_events/outreach_races')
  - @outreachTargetsTemplate = generate_nested_attributes_template(f, :outreach_targets, 'outreach_events/outreach_targets')
  - @outreachEvaluationsTemplate = generate_nested_attributes_template(f, :outreach_evaluations, 'outreach_events/outreach_evaluations')
  - @outreachSsusTemplate = generate_nested_attributes_template(f, :outreach_ssus, 'outreach_events/outreach_ssus')
  - @outreachTsusTemplate = generate_nested_attributes_template(f, :outreach_tsus, 'outreach_events/outreach_tsus')
  - @outreachItemsTemplate = generate_nested_attributes_template(f, :outreach_items, 'outreach_events/outreach_items')
  
  .block
    .title
      Outreach Description
    .row
      = f.label :event_date, "Event Date"
      = f.text_field :event_date, {:class => "datepicker", :size =>10, :maxlength =>10, :id => "pickdate"}
      = f.label :name, "Event Name"
      = f.text_field :name
    .row
      PSU
      = text_field_tag "", "Cook County, IL (Wave 1)", :readonly => true
    %table{ :class => 'records outreach_ssus row' }
      %tr.row
        %td
          Outreach Segments 
          %em * 
          (Click the 'Add segment' link to add one or more segments for outreach event)
        %td
      %tbody.nested_records_outreach_ssus
        - f.fields_for :outreach_ssus do |outreach_ssu|
          = render :partial => 'outreach_events/outreach_ssus', :locals => { :f => outreach_ssu }
      %tfoot
        %tr.row
          %td.row{ :colspan => '3' }
            = link_to_add_fields "Add segment", :outreach_ssus
    %table{ :class => 'records outreach_tsus row' }
      %tr.row
        %td
          Outreach TSU 
          %em * 
          (Click the 'Add TSU' link to add one or more TSUs for outreach event, if Applicable)
        %td
      %tbody.nested_records_outreach_tsus
        - f.fields_for :outreach_tsus do |outreach_tsu|
          = render :partial => 'outreach_events/outreach_tsus', :locals => { :f => outreach_tsu }
      %tfoot
        %tr.row
          %td.row{ :colspan => '3' }
            = link_to_add_fields "Add TSU", :outreach_tsus
  .block
    .title
      Outreach Details
    .row
      = f.label :mode_code, "Outreach mode"
      = f.select :mode_code, NcsCode.ncs_code_lookup(:mode_code), {:prompt => "Select"}, {:id => "outreach_mode"}
      = f.label :mode_other, "Other mode"
      = f.text_field :mode_other, {:id => "outreach_mode_other"}
    .row
      = f.label :outreach_type_code, "Outreach type"
      = f.select :outreach_type_code, NcsCode.ncs_code_lookup(:outreach_type_code), {:prompt => "Select"}, {:id => "outreach_type"}
      = f.label :outreach_type_other, "Outreach type - other specify"
      = f.text_field :outreach_type_other, {:id => "outreach_type_other"}
    %table{ :class => 'records outreach_targets row' }
      %tr.row
        %td
          Primary outreach target (Click the 'Add target' link to add one or more targets for outreach event, if Applicable)
        %td
      %tbody.nested_records_outreach_targets
        - f.fields_for :outreach_targets do |outreach_target|
          = render :partial => 'outreach_events/outreach_targets', :locals => { :f => outreach_target }
      %tfoot
        %tr.row
          %td.row{ :colspan => '3' }
            = link_to_add_fields "Add target", :outreach_targets

  .block
    .title
      Outreach Quantity
    .row
      = f.label :letters_quantity, "Number of letters"
      = f.text_field :letters_quantity
    .row
      = f.label :attendees_quantity, "Number of attendees"
      = f.text_field :attendees_quantity
    %table{ :class => 'records outreach_items' }
      %tr.row
        %td
          Items used in outreach event (Click the 'Add item' link to add one or more items for outreach event, if Applicable)
        %td
      %tbody.nested_records_outreach_items
        - f.fields_for :outreach_items do |outreach_item|
          = render :partial => 'outreach_events/outreach_items', :locals => { :f => outreach_item }
      %tfoot
        %tr
          %td{ :colspan => '3' }
            = link_to_add_fields "Add item", :outreach_items
    .row
      = f.label :cost, "Non-labor cost to conduct outreach:"
      = f.text_field :cost

  .block
    .title
      Outreach Targets
    .row
      = f.label :tailored_code, "Was outreach effort tailored to a specific group?"
      = f.select :tailored_code, NcsCode.ncs_code_lookup(:tailored_code), {:prompt => "Select"}, {:id => "tailored"}
    .row
      = f.label :language_specific_code, "Was the outreach language specific?"
      = f.select :language_specific_code, NcsCode.ncs_code_lookup(:language_specific_code), {:prompt => "Select"}, {:class => "tailored_specific", :id => "language_specific"} 
    .row
      = f.label :language_code, "Specific Language target"
      = f.select :language_code, NcsCode.ncs_code_lookup(:language_code), {:prompt => "Select"}, {:class => "language_specific_target tailored_all", :id => "language_specific_target"} 
      = f.label :language_other, "Language target - other specify"
      = f.text_field :language_other, {:class => "tailored_all language_specific_all", :id => "language_specific_target_other"} 
    .row
      = f.label :culture_specific_code, "Was the outreach targeted to a specific cultural group?"
      = f.select :culture_specific_code, NcsCode.ncs_code_lookup(:culture_specific_code), {:prompt => "Select"}, {:class => "tailored_specific", :id => "targerted_cultural_specific"} 
    .row
      = f.label :culture_code, "Targerted cultural group"
      = f.select :culture_code, NcsCode.ncs_code_lookup(:culture_code), {:prompt => "Select"}, {:class => "targerted_cultural outreach_tailored_all", :id => "targerted_cultural"}  
      = f.label :culture_other, "Cultural group - other specify:"
      = f.text_field :culture_other, {:class => "tailored_all targerted_cultural_specific_all", :id => "targerted_cultural_other"}
    .row
      = f.label :race_specific_code, "Was the outreach targeted to a specific racial group?"
      = f.select :race_specific_code, NcsCode.ncs_code_lookup(:race_specific_code), {:prompt => "Select"}, {:class => "tailored_specific", :id => "racial_group"}
    %table{ :class => 'records outreach_races row' }
      %tr.row.tailored_all.racial_group_tr
        %td
          Targeted racial groups (Click the 'Add race' link to add one or more races for outreach event, if Applicable)
        %td
      %tbody.nested_records_outreach_races
        - f.fields_for :outreach_races do |outreach_race|
          = render :partial => 'outreach_events/outreach_races', :locals => { :f => outreach_race }
      %tfoot
        %tr.row.tailored_all.racial_group_tr
          %td{ :colspan => '3' }
            = link_to_add_fields "Add race", :outreach_races

  .block
    .title
      Outreach Evaluation
    .row
      = f.label :evaluation_result_code, "Results of the outreach activity"
      = f.select :evaluation_result_code, NcsCode.ncs_code_lookup(:evaluation_result_code), :prompt => "Select"
    %table{ :class => 'records outreach_evaluations row' }
      %tr.row
        %td
          Outreach Evaluations
          %em * 
          (Click the 'Add evaluation' link to add one or more evaluations for outreach effort)
        %td
      %tbody.nested_records_outreach_evaluations
        - f.fields_for :outreach_evaluations do |outreach_evaluation|
          = render :partial => 'outreach_events/outreach_evaluations', :locals => { :f => outreach_evaluation }
      %tfoot
        %tr.row
          %td{ :colspan => '3' }
            = link_to_add_fields "Add evaluation", :outreach_evaluations

  .block
    .title
      Outreach Staff Information
    .row
      = f.label :no_of_staff, "Number of staff required for activity"
      = f.text_field :no_of_staff
    %table{ :class => 'records outreach_staff_members row' }
      %tr.row
        %td
          Staff Members participating in Outreach Event 
          %em * 
          (Click the 'Add staff member' link to add one or more staff members for outreach event)
      %tbody.nested_records_outreach_staff_members
        - f.fields_for :outreach_staff_members do |outreach_staff_member|
          = render :partial => 'outreach_events/outreach_staff_members', :locals => { :f => outreach_staff_member }
      %tfoot
        %tr.row
          %td{ :colspan => '3' }
            = link_to_add_fields "Add staff member", :outreach_staff_members
  .row
    = f.submit 'Save'
    = link_to 'All outreach events', outreach_events_path
  %br
  %p
    Note: Fields mark as (
    %em *
    ) are mandatory fields
  :javascript
    $(document).ready(function(){
      wire_up_select_other_class(".nested_attribute_selector", ".nested_attribute_other", ".nested_attribute_other_label");
      disabled_selected_options(".outreach_races_selector")
      disabled_selected_options(".outreach_targets_selector")
      disabled_selected_options(".outreach_evaluations_selector")
      disabled_selected_options(".outreach_ssus_selector")
      disabled_selected_options(".outreach_items_selector")
      
      wire_up_select_other("#outreach_mode","#outreach_mode_other");
      wire_up_select_other("#outreach_type","#outreach_type_other");
      wire_up_select_other("#language_specific_target","#language_specific_target_other");
      wire_up_select_other("#targerted_cultural","#targerted_cultural_other");
      wire_up_select_yes_selector("#tailored", ".tailored_specific", ".tailored_all")
      wire_up_select_yes_selector("#language_specific", ".language_specific_target", ".language_specific_all")
      wire_up_select_yes_selector("#targerted_cultural_specific", ".targerted_cultural", ".targerted_cultural_specific_all")
      wire_up_select_yes_nested_attribute("#racial_group", ".racial_group_tr")
      //nested_attributes_manage_options()
      outreachStaffMembersTemplateUI = new NCSPortal.OutreachStaffMembers.UI({outreachStaffMembersTemplate: '#{@outreachStaffMembersTemplate}' });
      outreachRacesTemplateUI = new NCSPortal.OutreachRaces.UI({outreachRacesTemplate: '#{@outreachRacesTemplate}' });
      outreachTargetsTemplateUI = new NCSPortal.OutreachTargets.UI({outreachTargetsTemplate: '#{@outreachTargetsTemplate}' });
      outreachEvaluationsTemplateUI = new NCSPortal.OutreachEvaluations.UI({outreachEvaluationsTemplate: '#{@outreachEvaluationsTemplate}' });
      outreachSsusTemplateUI = new NCSPortal.OutreachSsus.UI({outreachSsusTemplate: '#{@outreachSsusTemplate}' });
      outreachTsusTemplateUI = new NCSPortal.OutreachTsus.UI({outreachTsusTemplate: '#{@outreachTsusTemplate}' });
      outreachItemsTemplateUI = new NCSPortal.OutreachItems.UI({outreachItemsTemplate: '#{@outreachItemsTemplate}' });
     })

    $(".datepicker").datepicker();
    