= form_for @outreach_event do |f|
  -if @outreach_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@outreach_event.errors.count, "error")} prohibited this outreach_event from being saved:"
      %ul
        - @outreach_event.errors.full_messages.each do |msg|
          %li= msg
  - @outreachStaffMembersTemplate = generate_nested_attributes_template(f, :outreach_staff_members, 'outreach_events/outreach_staff_members')
  - @outreachRacesTemplate = generate_nested_attributes_template(f, :outreach_races, 'outreach_events/outreach_races')
  
  = label_tag "Outreach Description"
  .field
    = f.label :event_date, "Date of outreach activity:"
    = f.text_field :event_date, :class => "datepicker", :id => "pickdate"
  .field
    = label_tag "Outreach target(s). Check all that apply."
    .scroll_checkboxes
      - NcsCode.ncs_code_lookup(:target_code).each do |code| 
        .each_scroll_checkbox   
          = check_box_tag "outreach_event[target_attributes][][target_code]", code.second, @outreach_event.outreach_targets.map(&:target_code).include?(code.second)
          = code.first
  .field
    = f.label :mode_code, "Outreach mode:"
    = f.select :mode_code, NcsCode.ncs_code_lookup(:mode_code), :prompt => "Select"
  .field
    = f.label :mode_other, "Outreach mode - other specify:"
    = f.text_field :mode_other
  .field
    = f.label :outreach_type_code, "Outreach type:"
    = f.select :outreach_type_code, NcsCode.ncs_code_lookup(:outreach_type_code), :prompt => "Select"
  .field
    = f.label :outreach_type_other, "Outreach type - other specify:"
    = f.text_field :outreach_type_other
  
  = label_tag "Outreach Details"
  .field
    = f.label :quantity, "Number of letters mailed/attendance at meeting,etc:"
    = f.text_field :quantity
  .field
    = f.label :cost, "Non-labor cost to conduct outreach:"
    = f.text_field :cost
  .field
    = f.label :no_of_staff, "Number of staff required for activity:"
    = f.text_field :no_of_staff
  = label_tag "Outreach Targets"
  .field
    = f.label :tailored_code, "Was outreach effort tailored to a specific group?"
    = f.select :tailored_code, NcsCode.ncs_code_lookup(:tailored_code), :prompt => "Select"
  .field
    = f.label :language_specific_code, "Was the outreach language specific?"
    = f.select :language_specific_code, NcsCode.ncs_code_lookup(:language_specific_code), :prompt => "Select"
  .field
    = f.label :language_code, "Specific Language target:"
    = f.select :language_code, NcsCode.ncs_code_lookup(:language_code), :prompt => "Select"
  .field
    = f.label :language_other, "Language target - other specify:"
    = f.text_field :language_other
  .field
    = f.label :race_specific_code, "Was the outreach targeted to a specific racial group?"
    = f.select :race_specific_code, NcsCode.ncs_code_lookup(:race_specific_code), :prompt => "Select"
  %table{ :class => 'records outreach_races' }
    %thead
      %tr
        %td
          Targeted racial groups
        %td
    %tbody.nested_records_outreach_races
      - f.fields_for :outreach_races do |outreach_race|
        = render :partial => 'outreach_events/outreach_races', :locals => { :f => outreach_race }
    %tfoot
      %tr
        %td{ :colspan => '3' }
          = link_to_add_fields "Add another race", :outreach_races
  .field
    = f.label :culture_specific_code, "Was the outreach targeted to a specific cultural group?"
    = f.select :culture_specific_code, NcsCode.ncs_code_lookup(:culture_specific_code), :prompt => "Select"
  .field
    = f.label :culture_code, "Targerted cultural group:"
    = f.select :culture_code, NcsCode.ncs_code_lookup(:culture_code), :prompt => "Select"
  .field
    = f.label :culture_other, "Cultural group - other specify:"
    = f.text_field :culture_other
  
  = label_tag "Outreach Evaluation"
  .field
    = label_tag "How was the outreach evaluated? Check all that apply?"
    - NcsCode.ncs_code_lookup(:evaluation_code).each do |code|
      .field()      
        = check_box_tag "outreach_event[evaluation_attributes][][evaluation_code]", code[1], @outreach_event.outreach_evaluations.map(&:evaluation_code).include?(code.second)
        = code.first
  .field
    = f.label :evaluation_result_code, "Results of the outreach activity:"
    = f.select :evaluation_result_code, NcsCode.ncs_code_lookup(:evaluation_result_code), :prompt => "Select"
  
  %table{ :class => 'records outreach_staff_members' }
    %thead
      %tr
        %th
          Staff Members Participating in Outreach Event
        %th
    %tbody.nested_records_outreach_staff_members
      - f.fields_for :outreach_staff_members do |outreach_staff_member|
        = render :partial => 'outreach_events/outreach_staff_members', :locals => { :f => outreach_staff_member }
    %tfoot
      %tr
        %td{ :colspan => '3' }
          = link_to_add_fields "Add", :outreach_staff_members
  .actions
    = f.submit 'Save'
  :javascript
    $(document).ready(function(){
      //wire_up_select_other_class(".nested_attribute_selector", ".nested_attribute_other", ".nested_attribute_other_label");
      //disabled_selected_options(".nested_attribute_selector")
      nested_attributes_manage_options()
      
      var outreachStaffMembersTemplate = '#{@outreachStaffMembersTemplate}',
      outreachStaffMembersTemplateUI = new NCSPortal.OutreachStaffMembers.UI({outreachStaffMembersTemplate: '#{@outreachStaffMembersTemplate}' });
      
      var outreachRacesTemplate = '#{@outreachRacesTemplate}',
      outreachRacesTemplateUI = new NCSPortal.OutreachEvents.UI({outreachRacesTemplate: '#{@outreachRacesTemplate}' });
     })

    $(".datepicker").datepicker();
    