%tr{ :class => "outreach_race fields" }
  %td
    = f.label :race_code, "Race"
    = f.select :race_code, NcsCode.ncs_code_lookup(:outreach_race_code), {:prompt => 'Select race'} , {:class => "nested_attribute_selector"}
    = f.label :race_other, "Other Race", {:class => "nested_attribute_other_label"}
    = f.text_field :race_other, {:size =>20 ,:class => "nested_attribute_other"}
  %td
    = link_to_remove_fields 'Remove', f, :outreach_races