- javascript 'nested_attributes', 'outreach_events', 'combobox'
- if @outreach_event.event_date.blank?
  %h3 Editing outreach event #{@outreach_event.name}
- else
  %h3 Editing outreach event #{@outreach_event.name}(#{@outreach_event.event_date})

= render 'outreach_events'

= link_to 'Show', @outreach_event
\|
= link_to 'Back', outreach_events_path
