.content_body
  .section
    = link_to 'Add new outreach activity/event', new_outreach_event_path, :class => "add_link icon_link"
    = search_form_for @q do |f|
      %table
        %tr
          %td{ :colspan => "2" }
            %em Search Outreach event
        %tr
          %td
            = f.label :event_date_cont, "Event Date"
            = f.text_field :event_date_cont, :class => 'datepicker'
          %td
            = f.label :staff_first_name_or_staff_last_name_or_staff_staff_id_cont, "Staff member"
            = f.text_field :staff_first_name_or_staff_last_name_or_staff_staff_id_cont
        %tr
          %td
            = f.label :name_cont, "Name"
            = f.text_field :name_cont
          - if NcsSsu.all.count > 0
            %td
              = f.label :ncs_ssus_ssu_name_cont, "Segment Name"
              = f.text_field :ncs_ssus_ssu_name_cont
        %tr
          %td
            = f.submit "Search",:class => "control_button"
            = link_to 'Reset', outreach_events_path, :class => "control_button"
  .section_gap
  .section
    .section_heading
      - model_name = (@outreach_events.size == 1 ? "Outreach Activity" : "Outreach Activities")
      = raw page_entries_info @outreach_events, {:model => model_name}
    %div.yui-skin-sam
      %div#event-list
        %table#event-list-tbl
          - @outreach_events.each do |outreach_event|
            %tr
              %td= link_to outreach_event.event_date, edit_outreach_event_path(outreach_event)
              - if outreach_event.event_date.blank?
                %td= link_to outreach_event.name_text, edit_outreach_event_path(outreach_event)
              - else
                %td= outreach_event.name_text
              - if NcsSsu.all.count > 0 
                %td= display_segments(outreach_event.outreach_segments)
              - else
                %td
              %td= outreach_event.evaluation_result.display_text
              %td= outreach_event.mode_text
              %td= outreach_event.outreach_type_text
              %td= outreach_event.created_by_user_text
              - if @can_delete
                %td= button_to "Delete", { :action => "destroy", :id => outreach_event.id },:class => "control_button", :onclick => "return confirm('Are you sure want to delete?')", :method => :delete
              - else
                %td

    :javascript
        $(document).ready(function() {
          displayEventList()
        });

        function displayEventList() {
          var columnDefs = [
              { key: "date", label: "Date", sortable: true , sortOptions: { defaultDir: YAHOO.widget.DataTable.CLASS_DESC }},
              { key: "name", label: "Name", sortable: true},
              { key: "segment", label: "Segments"},
              { key: "result", label: "Result" },
              { key: "mode", label: "Mode" },
              { key: "type", label: "Type" },
              { key: "created_by", label: "Created By" },
              { key: "controls", label: "Controls" }
          ];
          var dataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("event-list-tbl"));
          dataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
          dataSource.responseSchema = {
            fields: [
              { key: "date" },
              { key: "name" },
              { key: "segment" },
              { key: "result" },
              { key: "mode" },
              { key: "type" },
              { key: "created_by"},
              { key: "controls" }
            ]
          };
          var dataTable = new YAHOO.widget.DataTable("event-list", columnDefs, dataSource, {
              sortedBy: { key: "date" , dir: YAHOO.widget.DataTable.CLASS_DESC }
          });

          var ssuCount = #{NcsSsu.all.count}
          if (ssuCount == 0) {
            $('.yui-dt-col-segment').each(function(){
              YAHOO.util.Dom.addClass($(this), 'hide')
            })
            dataTable.hideColumn("segment");
          } else {
            dataTable.showColumn("segment");
          }

          var canDelete = #{@can_delete}
          if (canDelete) {
            dataTable.showColumn("controls"); 
          } else {
            dataTable.hideColumn("controls"); 
          }
        }
    = will_paginate @outreach_events, :previous_label => "Previous", :next_label => "Next"