%p#notice= notice
-display_content(@outreach_event.event_date, "Date of outreach activity:")
%p
  %b Outreach target(s):
  = @outreach_event.outreach_targets.map{|target| target.target.display_text}.join(', ')
-display_content(@outreach_event.mode, "Outreach Mode:", true)
-display_content(@outreach_event.mode_other, "Outreach mode - other:")
-display_content(@outreach_event.outreach_type, "Outreach type:", true)
-display_content(@outreach_event.outreach_type_other, "Outreach type - other:")
-display_content(@outreach_event.quantity, "Number of letters mailed/attendance at meeting,etc:")
-display_content(@outreach_event.cost, "Non-labor cost to conduct outreach:")
-display_content(@outreach_event.no_of_staff, "Number of staff required for activity:")
-display_content(@outreach_event.tailored, "Was outreach effort tailored to a specific group?", true)
-display_content(@outreach_event.language_specific, "Was the outreach language specific?", true)
-display_content(@outreach_event.language, "Specific Language target:", true)
-display_content(@outreach_event.language_other, "Language target - other:")
-display_content( @outreach_event.race_specific, "Was the outreach targeted to a specific racial group?", true)
%p
  %b Outreach race(s):
  = @outreach_event.outreach_races.map{|race| race.race.display_text}.join(', ')
-display_content(@outreach_event.culture_specific, "Was the outreach targeted to a specific cultural group?", true)
-display_content(@outreach_event.culture, "Targerted cultural group:", true)
-display_content(@outreach_event.culture_other, "Cultural group - other:")
%p
  %b Outreach evaluation(s):
  = @outreach_event.outreach_evaluations.map{|evaluation| evaluation.evaluation.display_text}.join(', ')
-display_content(@outreach_event.evaluation_result, "Results of the outreach activity:", true)  

.action
  = link_to 'Edit', edit_outreach_event_path(@outreach_event)
  \|
  = link_to 'Back', outreach_events_path
