.breadcrumbs
  = render_breadcrumbs :separator => ' / '
.content_tab
  - if @staff.belongs_to_management_group
    = link_to 'Management Task', new_staff_management_task_path(@staff.id), :class => "other_tab"
  - if @staff.belongs_to_data_collection_group
    = link_to 'Data Collection Task', new_staff_data_collection_task_path(@staff.id), :class => "other_tab"
  = link_to 'Miscellaneous Expense', new_staff_miscellaneous_expense_path(@staff.id), :class => "other_tab"
  %span.current_tab
    My Weekly Entries
  - if @staff.has_role(Role::STAFF_SUPERVISOR) && same_as_current_user(@staff)
    = link_to 'Weekly Staff Summary', staff_weekly_expenses_path, :class => "other_tab"
.content_body
  .section_gap
  .section
    = search_form_for @q, :url => by_staff_staff_weekly_expenses_path(:staff_id => @staff.id) do |f|
      %table
        %tr
          %td{ :colspan => "2" }
            %em Search Weekly Expense
        %tr
          %td
            = f.label :week_start_date_gteq, "Week Start Date From"
            = f.text_field :week_start_date_gteq, {:class => "week_datepicker", :size =>10, :maxlength =>10, :week_start_day => StaffPortal.week_start_day}
            = f.label :week_start_date_lteq, "To "
            = f.text_field :week_start_date_lteq, {:class => "week_datepicker", :size =>10, :maxlength =>10, :week_start_day => StaffPortal.week_start_day}
            = hidden_field_tag :staff_id, @staff.id
          %td
            = f.submit "Search",:class => "control_button"
            = link_to 'Reset', by_staff_staff_weekly_expenses_path(:staff_id => @staff.id), :class => "control_button"
  .section_gap
  .section
    .section_heading
      = raw page_entries_info @staff_weekly_expenses, {:model => "Weekly time and expense"}
    %div.yui-skin-sam
      %div#weekly-expense-list
        %table#weekly-expense-tbl
          - @staff_weekly_expenses.each do |staff_weekly_expense|
            %tr
              %td= staff_weekly_expense.week_start_date
              %td
                - display_tasks(staff_weekly_expense)
              %td= staff_weekly_expense.total_hours
              %td= staff_weekly_expense.total_miles
              %td= staff_weekly_expense.total_expenses
              %td
                %div{ :expense_id => staff_weekly_expense.id , :class => "comment"}
                  = staff_weekly_expense.comment
              %td= button_to "Delete", { :action => "destroy", :id => staff_weekly_expense.id, :staff_id => staff_weekly_expense.staff.id }, :class => "control_button", :onclick => "return confirm('Are you sure want to delete? This will delete the weekly expense record.')", :method => :delete
    :javascript
        $(document).ready(function() {
          displayWeeklyExpenseList()
          $(".comment").each( function(i) {
            expense_id = $(this).attr('expense_id')
            url = "/staff_weekly_expenses/" +expense_id+".json"
            $(this).editable(url, {
            indicator : 'Saving...',
            tooltip   : 'Click to edit...',
            placeholder: 'Click to add...',
            method    : 'PUT',
            type      : 'textarea',
            rows      : 4,
            name      : 'comment',
            cancel    : 'Cancel',
            submit    : 'OK',
            })
          });

        });

        function displayWeeklyExpenseList() {
          var columnDefs = [
              { key: "week_start_date", label: "Week start date", sortable: true , formatter: "date", sortOptions: { defaultDir: YAHOO.widget.DataTable.CLASS_DESC }},
              { key: "task_reported", label: "Task Reported" },
              { key: "hours", label: "Total Hours" },
              { key: "miles", label: "Miles" },
              { key: "expenses", label: "Expenses ($USD)" },
              { key: "comment", label: "Comment" },
              { key: "controls", label: "" }
          ];
          var dataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("weekly-expense-tbl"));
          dataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
          dataSource.responseSchema = {
            fields: [
              { key: "week_start_date"},
              { key: "task_reported"},
              { key: "hours" },
              { key: "miles" },
              { key: "expenses" },
              { key: "comment"},
              { key: "controls" }
            ]
          };
          new YAHOO.widget.DataTable("weekly-expense-list", columnDefs, dataSource, {
              sortedBy: { key: "week_start_date", dir: YAHOO.widget.DataTable.CLASS_DESC}
          });
        }
  = will_paginate @staff_weekly_expenses, :previous_label => "Previous", :next_label => "Next"
