- if permit?(Role::STAFF_SUPERVISOR)
  = link_to 'My time and expenses', new_staff_management_task_path(@current_staff.id)

  %h3 Listing weekly time and expenses for all staff
  
  %div.yui-skin-sam
    %div#weekly-expense-list
      %table#weekly-expense-tbl
        - @staff_weekly_expenses.each do |staff_weekly_expense|
          %tr
            %td=link_to staff_weekly_expense.week_start_date, new_staff_management_task_path(staff_weekly_expense.staff.id)
            %td= staff_weekly_expense.staff.name
            %td= staff_weekly_expense.management_tasks.map(&:hours).compact.inject(0){ |total, hours| total + hours}
            %td= staff_weekly_expense.management_tasks.map(&:expenses).compact.inject(0){ |total, expenses| total + expenses }
            %td= staff_weekly_expense.management_tasks.map(&:miles).compact.inject(0){ |total, miles| total + miles}
            %td= staff_weekly_expense.management_tasks.length
            %td= button_to "Delete", { :action => "destroy", :id => staff_weekly_expense.id, :staff_id => staff_weekly_expense.staff.id }, :class => "control_button", :confirm => "Are you sure?", :method => :delete 
  :javascript
      $(document).ready(function() {
        displayWeeklyExpenseList()
      });
    
      function displayWeeklyExpenseList() {
        var columnDefs = [
            { key: "week_start_date", label: "Week start date", sortable: true , formatter: "date", sortOptions: { defaultDir: YAHOO.widget.DataTable.CLASS_DESC }},
            { key: "staff_name", label: "Staff Name", sortable: true},
            { key: "hours", label: "Time (hours)" },
            { key: "miles", label: "Miles" },
            { key: "expenses", label: "Expenses ($USD)" },
            { key: "task_reported", label: "Task Reported" },
            { key: "controls", label: "Controls" }
        ];
        var dataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("weekly-expense-tbl"));
        dataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        dataSource.responseSchema = {
          fields: [
            { key: "week_start_date"},
            { key: "staff_name" },
            { key: "hours" },
            { key: "miles" },
            { key: "expenses" },
            { key: "task_reported"},
            { key: "controls" }
          ]
        };
        new YAHOO.widget.DataTable("weekly-expense-list", columnDefs, dataSource, {
            sortedBy: { key: "week_start_date", dir: YAHOO.widget.DataTable.CLASS_DESC}
        });
      }
= will_paginate @staff_weekly_expenses, :previous_label => "Previous", :next_label => "Next"




