= form_for [@staff, @staff_cert_training] do |f|
  -if @staff_cert_training.errors.any?
    #error_explanation
      %h2= "#{pluralize(@staff_cert_training.errors.count, "error")} prohibited this staff_cert_training from being saved:"
      %ul
        - @staff_cert_training.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :certificate_type_code, "Certification/Training Type"
    %em *
    = f.select :certificate_type_code, NcsCode.ncs_code_lookup(:certificate_type_code), :prompt => 'Select Certification/Training Type'
  .field
    = f.label :complete_code, "Does the staff member completed training?"
    %em *
    = f.select :complete_code, NcsCode.ncs_code_lookup(:complete_code), {:prompt => 'Select Completed Status'}, {:id => "complete_status"}
  .field
    - if @staff_cert_training.only_date
      = radio_button_tag 'cert_date', 'date', true, :class => "cert_date"
      = label_tag "Date staff member was certified"
      = text_field_tag 'cert_date_val', @staff_cert_training.cert_date, :class => 'datepicker', :id => "cert_date_temp", :size => 10, :maxLength => 10 
    - else
      = radio_button_tag 'cert_date', 'date', false, :class => "cert_date"
      = label_tag "Date staff member was certified"
      = text_field_tag 'cert_date_val', nil, :class => 'datepicker', :id => "cert_date_temp", :disabled => true, :size => 10, :maxLength => 10 
  .field
    = radio_button_tag 'cert_date', NcsCode.unknown_date, @staff_cert_training.cert_date == NcsCode.unknown_date, :class => "cert_date"
    = label_tag "Don't Know"
  .field
    = radio_button_tag 'cert_date', NcsCode.not_applicable_date , @staff_cert_training.cert_date == NcsCode.not_applicable_date, :class => "cert_date"
    = label_tag  "Not Applicable"
  = f.hidden_field :cert_date, :id => "cert_date_value"
  .field
    = f.label :background_check_code, "Level of background check required"
    %em *
    = f.select :background_check_code, NcsCode.ncs_code_lookup(:background_check_code), :prompt => 'Select Background level'
  .field
    = f.label :frequency, "Frequency at which certification/training needs to be completed" 
    = f.text_field :frequency, { :size => 10}
  .field
    = f.label :formatted_expiration_date, "Cerification/Training expiration date"
    = f.text_field :formatted_expiration_date, { :class => "datepicker", :size => 10, :maxLength => 10 }
  .field
    = f.label :comment
    = f.text_field :comment
  .actions
    = f.submit 'Save', :class => "control_button"
    = link_to 'Cancel', new_staff_staff_cert_training_path(params[:staff_id])
  :javascript
    // For the 'yes'  complete field
    // Check on pageload
    $(document).ready(function(){
      wire_up_yes_enable_radio("#complete_status", ".cert_date");
      get_cert_date_value();
    });
