.section
  .section_heading
    - model_name = (@staff_cert_trainings.size == 1 ? "Certification/Training" : "Certifications/Trainings")
    = raw page_entries_info @staff_cert_trainings, {:model => model_name}
  %div.yui-skin-sam
    %div#certificates-list
      %table#certificates-list-tbl
        - @staff_cert_trainings.each do |staff_cert_training|
          %tr
            %td= link_to staff_cert_training.certificate_type.display_text, edit_staff_staff_cert_training_path(@staff.numeric_id, staff_cert_training)
            - display_cert_date(staff_cert_training.cert_date)
            - display_exp_date(staff_cert_training.formatted_expiration_date)
            %td= staff_cert_training.background_check.display_text unless staff_cert_training.background_check_code.blank?
            %td= staff_cert_training.complete.display_text unless staff_cert_training.complete_code.blank?
            %td= button_to "Delete", { :action => "destroy", :id => staff_cert_training.id, :staff_id => params[:staff_id] }, :class => "control_button", :onclick => "return confirm('Are you sure want to delete? This will delete the certification record. ')", :method => :delete
  %br

  :javascript
      $(document).ready(function() {
        displayCertificatesList()
      });

      function displayCertificatesList() {
        var columnDefs = [
            { key: "type", label: "Cert/Training Type", sortable: true },
            { key: "certified_date", label: "Certified Date", sortable: true },
            { key: "expiration_date", label: "Expiration Date" },
            { key: "check", label: "BG check" },
            { key: "complete", label: "Complete" },
            { key: "controls", label: ""}
        ];
        var dataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("certificates-list-tbl"));
        dataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        dataSource.responseSchema = {
          fields: [
            { key: "type" },
            { key: "certified_date" },
            { key: "expiration_date" },
            { key: "check" },
            { key: "complete" },
            { key: "controls"}
          ]
        };
        new YAHOO.widget.DataTable("certificates-list", columnDefs, dataSource, {
            sortedBy: { key: "type" }
        });
      }
  = will_paginate @staff_cert_trainings, :previous_label => "Previous", :next_label => "Next"
