.breadcrumbs
  = render_breadcrumbs :separator => ' / ' 
.content_body
  = render 'staff_cert_trainings'
  .section_gap
  .section
    .section_heading
      Edit Certification/Training [#{@staff_cert_training.certificate_type_text}] for #{@staff.name}
    = render 'staff_cert_training'