!!! 1.1
%html
  %head>
    %title NCS Staff Portal
      =stylesheet_link_tag :all
      = javascript_include_tag('jquery-1.4.4', 'jquery-ui-1.8.7', 'application','YUI/2.9/yahoo-dom-event','YUI/2.9/element-min','YUI/2.9/datasource-min','YUI/2.9/datatable-min')
      = stylesheet_link_tag('jquery-ui-1.8.7.custom.css', 'YUI/2.9/datatable', 'YUI/2.9/datatable-skin')
      = yield :javascript
      = yield :head
      = csrf_meta_tag
  %body
    -tabs_tag do |tab|
      -if current_user.permit?(:Supervisor)
        = tab.staff 'Staff Roaster', root_path
      = tab.outreach_events 'Outreach Activities', outreach_events_path
    = render('partials/current_user', :current_user => current_user)
    = yield 
