!!! 1.1
%html
  %head>
    = render('partials/include')
  %body.bp.ncs
    #container
      #header
        = render('partials/current_user', :current_user => current_user)
        #app_name
          NCS Staff Portal
      #main
        = render('partials/horizontal_tabs')
        #content
          = yield 
      #footer
        = render('partials/footer')
    = render('partials/include_google_analytics') if Rails.env.production? && NcsNavigator.configuration.staff_portal['google_analytics_number']
    


