!!! 1.1
%html
  %head>
    = render("partials/umn_head")
    = render('partials/include')
  %body.bp.ncs
    #container
      =render("partials/umn_header")
      =render("partials/umn_logo_head")
      #header
        #app_name
          NCS Staff Portal
        = render('partials/current_user', :current_user => current_user)
        = render('partials/horizontal_tabs')
      #content
        = render('partials/vertical_tabs')
      #footer
        = render('partials/footer')
      
