!!! 1.1
%html
  %head>
    %title NCS Staff Portal
    = stylesheet_link_tag :all
    = javascript_include_tag('jquery-1.4.4', 'jquery-ui-1.8.7', 'application','YUI/2.9/yahoo-dom-event','YUI/2.9/element-min','YUI/2.9/datasource-min','YUI/2.9/datatable-min')
    = stylesheet_link_tag('jquery-ui-1.8.7.custom.css', 'YUI/2.9/datatable', 'YUI/2.9/datatable-skin')
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = yield :javascript
    = yield :head
    = csrf_meta_tag
  %body.bp.ncs
    #container
      #header
        #app_name
          NCS Staff Portal
        = render('partials/current_user', :current_user => current_user)
        #tab_navigation
          -tabs_tag(:builder => ApplicationHelper::NCSTabsBuilder) do |tab|
            = tab.outreach_events 'Outreach Activities', outreach_events_path
            -if current_user.permit?(:supervisor)
              = tab.time_and_expenses 'Time and Expense', staff_weekly_expenses_path 
            -else
              = tab.time_and_expenses 'Time and Expenses', new_staff_management_task_path(@current_staff.id) 
            -if current_user.permit?(:supervisor)
              = tab.staff 'Staff Roaster', staff_index_path
            = tab.my_info 'My Information', staff_path(@current_staff)
      #content
        #tab_vertical
          -tabs_tag :namespace => :vertical do |tab|
            - if @staff
              = tab.general_info 'General Infomation', staff_path(@staff.id)
              = tab.cert_trainings 'Certificates/Trainings', new_staff_staff_cert_training_path(@staff.id)
            - else
              = tab.general_info 'General Infomation', staff_path(@current_staff)
              = tab.cert_trainings 'Certificates/Trainings', new_staff_staff_cert_training_path(@current_staff)
        #content_vertical
          = yield 
      #footer
        = render('partials/footer')