!!! 1.1
%html
  %head>
    = render('partials/include')
  %body.bp.ncs
    #container
      #header
        = render('partials/current_user', :current_user => current_user)
        = render('partials/app_name')
      #main
        = render('partials/horizontal_tabs')
        #content
          = render('partials/vertical_tabs')
      #footer
        = render('partials/footer')
